body {
  font-family: 'Roboto Mono', monospace;
  background-color: #000;
  color: #0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #111;
  padding: 20px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 255, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

h1 {
  text-align: center;
  color: #0f0;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #0f0;
}

input[type="number"],
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #0f0;
  border-radius: 4px;
  font-size: 16px;
  background-color: #222;
  color: #0f0;
}

input[type="submit"] {
  background-color: #0f0;
  color: #000;
  border: none;
  cursor: pointer;
  width: 105%;
}

input[type="submit"]:hover {
  background-color: #0b0;
}

.output {
  margin-top: 20px;
  padding: 10px;
  background-color: #222;
  border: 1px solid #0f0;
  border-radius: 4px;
  max-height: 200px;
  width: 100%;
  overflow-y: auto;
}
